// Card container with rounded corners.

.card {
  color: $main-paragraph;
  background-color: $card-background;
  border-radius: $borderRadius-large;
  overflow: hidden;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.25);

  & a {
    text-decoration: none;
    color: $main-heading;

    &:hover,
    &:active,
    &:focus {
      color: $accent;
    }
  }
}
