// Card container with rounded corners.

.card {
  color: $main-paragraph;
  background-color: $card-background;
  border-radius: $borderRadius-large;
  overflow: hidden;
  max-width: 300px;
  padding: 25px;

  & a {
    text-decoration: none;
    color: $main-heading;

    &:hover,
    &:active,
    &:focus {
      color: $accent;
    }
  }
}
